.App {
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header{
    display:flex; flex-direction: rows; justify-content: space-between; border-bottom:2px solid darkblue;
}
.header .nav a{
  display:inline-block; flex-direction: row; margin:20px 5px; text-decoration: none; background:greenyellow;padding:10px 12px; color:#fff; border-radius: 10px; transition: all .5s; font-weight: bold;
}
.header .nav a:hover{
  background:#fff; color:greenyellow; box-shadow: 1px 1px 3px #000; 
}
div.movie-container{
  display:grid; color:lightyellow; column-gap: 20px; row-gap: 20px; grid-template-columns: auto auto;
}
div.movie{
  position:relative; padding:20px; margin:20px; border-radius: 10px; text-align: center; background:black; 
  transition: all .5s;  
}
div.movie:hover{box-shadow: 1px 1px 40px gray;}
.close{
  position:absolute;
  right:15px;
  top:15px;
}
.container{min-height:500px;}
.movie-form, .form{display:block; text-align: left; width:80%; margin:auto;}
.form input,
.form select { padding:8px 12px; margin:10px}
.form label{width:160px; display: inline-block;}
.form .btn{background:darkblue; color:#fff; margin:20px 0px; padding:10px 15px}
.search-form {text-align: center;}
.favorite{border-left:8px solid red !important}